/* Genel Stil */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ccc;
  color: #333;
  text-align: center;
}

header {
  background-color: #666;
  color: white;
  padding: 10px;
  position: relative;
}

#site-title {
  font-size: 1.5rem;
  margin: 10px;
}

/* Menü */
#menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
}

#menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #444;
  width: 100%;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li {
  border-bottom: 1px solid #555;
}

#menu a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}

#menu a:hover {
  background-color: #555;
}

/* Menü Aç/Kapa */
#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ #menu {
  display: block;
}

/* Ana İçerik */
main {
  margin: 20px;
}

canvas {
  background-color: #ddd;
  border: 1px solid #666;
}
/* Butonlar */
#controls {
  margin: 10px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
